body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.secret-santa-match {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
}
